.encabezado {
    display: flex;
    width: 100vw;
    height: 115px;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    position: relative;
}

.encabezado__container {
    display: flex;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    width: 75%;
}

.logo-alura {
    width: 176px;
    height: 50px;
}

.busqueda {
    display: flex;
    width: 393px;
}

.container__buscador {
    display: flex;
    align-items: center;
    /* gap: 32px; */
}

.btn-lupa-search {
    display: none;
}

.btn-login {
    display: flex;
    width: 182px;
    height: 38px;
    align-items: center;
    justify-content: center;
}

.container__form {
    position: absolute;
    /* display: flex; */
    display: none;
    justify-content: center;
    gap: 8px;
    right: 0px;
    top: 70px;
    width: 100vw;
    height: 30px;
    background-color: #FFFFFF;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    height: 120px;
}

/* NUEVO FORMULARIO */
form.formulario-busqueda {
    display: flex;
    background: #ccc;
    padding: 5px;
    border-radius: 20px;
}

.busqueda {
    display: flex;
    width: 365px;
    background: #ccc;
    outline: none;
    border: none;
    margin-left: 15px;
}

.busqueda:focus {
    background: #ccc;
    outline: none;
    border: none;
}

.btn-buscar {
    background: transparent;
    border: none;
}
.btn-buscar:disabled {
    background: transparent;
    border: none;
}

.btn-buscar>i {
    color: gray;
    transition: 2s;
}

.btn-buscar:hover {
    background-color: transparent;
    color: white;
}

.btn-buscar>i:hover {
    transform: scale(1.25);
}

/* OCULTAR Y MOSTRAR */
.oculto {
    display: none;
}

.mostrar {
    display: flex;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/*                      AJUSTE A PANTALLA - MEDIA QUERYS                           */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

@media screen and (min-width: 2560px) {

    .btn-login {
        width: 300px;
        height: 70px;
        border-radius: 20px;
    }

    .logo-alura {
        width: 400px;
        height: auto;
    }

    .encabezado {
        height: 250px;
    }

    .busqueda {
        display: flex;
        width: 800px;
        height: 70px;
        border-radius: 20px;
    }

    .busqueda::placeholder {
        font-size: 2rem;
    }

    .formulario-busqueda>button {
        margin-left: 30px;
        height: 70px;
        width: 100px;
        border-radius: 20px;
    }

}

@media screen and (max-width: 900px) {
    .btn-login {
        width: 160px;
    }

    .busqueda {
        width: 250px;
    }

    .logo-alura {
        width: 100px;
        height: 28px;
    }
}

@media screen and (max-width: 768px) {

    .encabezado__container {
        width: 100%;
    }

    .encabezado {
        height: 72px;
    }

    .btn-login {
        width: 150px;
        font-size: 14px;
        padding: 5px;
        height: auto;
    }

    .busqueda {
        width: 190px;
    }

    .logo-alura {
        width: 100px;
        height: 30px;
    }
}

@media screen and (max-width: 500px) {
    .btn-lupa-search {
        order: 3;
        display: flex;
    }
    .btn-login {
        width: 130px;
        font-size: 12px;
        padding: 5px;
        height: auto;
    }

    .busqueda {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 6px 0 6px 12px;
    }

    .container__buscador {
        order: 3;

        position: absolute;
        left: 0;
        right: 0;
        background: white;
        top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .container-formulario-busqueda {
        width: 100%;
    }

    form.formulario-busqueda {
        justify-content: unset;
        border-radius: 20px;
        gap: 20px;
        align-items: center;
    }

    .btn-buscar {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 360px) {

    .btn-login {
        width: 135px;
        font-size: 11px;
        padding: 5px;
        height: auto;
    }

    summary {
        list-style: none;
    }

    .container__buscador {
        gap: 0;
    }

    .sugerencias {
        width: 290px;
    }


}