@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap');

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.agregar {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.container-formulario {
    width: 60%;
    align-self: center;
}

.container-formulario>h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: start;
    margin: 64px 0px 16px 0;
}

form.formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;
}

.btn-agregar,
.btn-editar,
.btn-cancelar {
    height: 55px;
}

/* FORMULARIO */

.campo {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-radius: 5px;
    padding: 5px 12px;
    gap: 5px;
}

.campo>span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: #aca9a9;
    font-size: 12px;
}

.campo>label>input {
    /* height: 20px; */
    font-size: 16px;
    padding: 0;
    border: none;
    width: 100%;
    outline: none;
}

.campo>label>textarea {
    height: 120px;
    font-size: 16px;
    padding: 0;
    border: none;
    width: 100%;
    outline: none;
    text-align: justify;
}

select {
    outline-color: #ccc;
    border: none;
}

.contenedor-imagen {
    width: 170px;
    align-self: center;
}
.contenedor-imagen>img{
    width: 100%;
    height: 170px;
}

/* DIÃLOGO DE CARGA */
.carga__dialog {
    position: fixed;
    background: #ccc;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 103;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carga__dialog__mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

/* OCULTAR Y MOSTRAR */
.oculto {
    display: none;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/*                      AJUSTE A PANTALLA - MEDIA QUERYS                           */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    section.agregar {
        width: 85%;
    }

    .container-formulario>h1 {
        font-size: 22px;
    }

    .container-formulario {
        width: 100%;
    }

    .contenedor-imagen>img{
        height: 164px;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-imagen>img{
        height: 156px;
    }
}

@media screen and (max-width: 320px) {
    .contenedor-imagen>img{
        height: 140px;
    }
}