@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap');

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    margin-top: 64px;
}

section.producto__seleccionado {
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto__seleccionado__container {
    display: flex;
    gap: 16px;
}

.producto__seleccionado__imagen {
    width: 560px;
    height: 404px;
    background-size: cover;
    background-repeat: no-repeat;
}

.producto__seleccionado__descripcion {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.producto__seleccionado__descripcion>h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
}

.producto__seleccionado__descripcion>span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.producto__seleccionado__descripcion>p {
    font-family: 'Raleway';
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
}

.container__productos {
    background: white;
}

/* ESTILOS PRECIOS */
span.precio-normal {
    color: red;
    text-decoration-line: line-through;
}

sup.descuento {
    color: green;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/*                      AJUSTE A PANTALLA - MEDIA QUERYS                           */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    section.producto__seleccionado {
        width: 100%;
    }
    .producto__seleccionado__imagen {
        width: 254px;
        height: 157px;
        background-position: center;
    }
    .producto__seleccionado__container {
        justify-content: center;
    }
    .producto__seleccionado__descripcion>h1 {
        font-size: 22px;
    }
    .producto__seleccionado__descripcion>p {
        font-size: 14px;
        line-height: 15px;
        margin: 0;
    }
}

@media screen and (max-width: 360px) {
    main {
        gap: 0;
        margin-top: 10px;
    }
    .producto__seleccionado__container {
        flex-direction: column;
    }
    .producto__seleccionado__descripcion {
        width: auto;
        margin: 16px;
    }
    .producto__seleccionado__imagen {
        width: 100%;
        height: 192px;
    }
}

