@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap');

.promos {
    width: 100vw;
    height: 350px;
    background-image: url("/assets/images/promociones/hero.svg");
    background-position: center;
    background-size: cover;
}


.promos__descripcion {
    color: white;
}
