@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap');

.promos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 32px;
    gap: 16px;
    width: 100vw;
    height: 350px;
    background-image: url("assets/images/promociones/hero.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.promos_descripcion {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    color: white;

    width: 75%;
    height: 170px;
}

.promos_descripcion__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.promos_descripcion__details {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.ver-consolas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    width: 129px;
    height: 51px;
}



/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/*                      AJUSTE A PANTALLA - MEDIA QUERYS                           */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

@media screen and (min-width: 2560px) {

    .promos {
        padding: 32px;
        gap: 16px;
        height: 800px;
    }

    .promos_descripcion {
        width: 75%;
        height: auto;
    }

    .promos_descripcion__title {
        font-size: 9rem;
        line-height: 15rem;
    }

    .promos_descripcion__details {
        font-size: 4rem;
        line-height: 8rem;
    }

    .ver-consolas {
        width: 500px;
        height: 100px;
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 768px) {

    .promos_descripcion {
        width: 100%;
    }

    .promos_descripcion__title {
        font-size: 32px;
    }

    .promos_descripcion__details {
        font-size: 20px;
    }

    .ver-consolas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 10px;
        font-size: 11px;
        width: 100px;
        height: 40px;
    }

}

@media screen and (max-width: 500px) {
    .promos_descripcion__title {
        font-size: 28px;
    }
    .promos_descripcion__details {
        font-size: 14px;
    }
    .ver-consolas {
        font-size: 9px;
        width: 90px;
        height: 30px;
    }
}

@media screen and (max-width: 360px) {
    .promos_descripcion__title {
        font-size: 22px;
    }
    .ver-consolas {
        font-size: 9px;
        width: 90px;
        height: 30px;
    }
}