@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap');

.container__productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
    gap: 64px;
    position: relative;
    width: 100vw;
    background: #F5F5F5;
}


.categoria_producto__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 170px;
    border: solid thin #c3c3c3;
    border-radius: 5px;
    justify-content: space-between;
}


.imagen__producto {
    width: 100%;
    height: 170px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.categoria_producto__titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.categoria_producto__titulo>a {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #2A7AE4;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.categoria_producto__box {
    display: grid;
    grid-template-columns: repeat(6, 170px);
    gap: 16px;
}

/* ESTILOS PRECIOS */
.descripcion__producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    gap: 16px;
}

.descripcion__producto__titulo {
 font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.descripcion__producto__precio, .descripcion__producto__stock {
     font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.descripcion__producto__precio.precio-normal {
     color: red;
    text-decoration-line: line-through;
}

.descripcion__producto__precio.precio-descuento {
     color: green;
}

.descripcion__producto__enlace {
    width: 100px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/*                      AJUSTE A PANTALLA - MEDIA QUERYS                           */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
@media screen and (min-width: 2560px) {
    .categoria_producto__titulo>h2 {
        font-size: 6rem;
    }

    .categoria_producto__titulo>a {
        font-size: 3rem;
        line-height: 19px;
    }

    .categoria_producto__box {
        display: grid;
        grid-template-columns: repeat(3, 560px);
        column-gap: 90px;
        row-gap: 130px;
    }

    .categoria_producto__item {
        width: 100%;
    }

    .categoria_producto__item>h5 {
        font-size: 35px;
        line-height: 50px;
    }

    .categoria_producto__item>p {
        font-size: 40px;
        line-height: 80px;
    }

    .categoria_producto__item>a {
        width: 100%;
        height: auto;
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 1024px) {

    .categoria_producto__box {
        grid-template-columns: repeat(4, 170px);
    }
}

@media screen and (max-width: 900px) {

    .categoria_producto__box div:nth-child(5) {
        display: grid;
    }

    .categoria_producto__box div:nth-child(6) {
        display: grid;
    }
}

@media screen and (max-width: 768px) {

    .container__productos {
        align-items: flex-start;
    }

    .categoria_producto__item {
        width: 164px;
    }

    .imagen__producto {
        height: 164px;
    }

    .categoria_producto__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        row-gap: 40px;
        overflow: hidden;
    }

    .categoria_producto__box div:nth-child(5) {
        display: none;
    }

    .categoria_producto__box div:nth-child(6) {
        display: none;
    }

}

@media screen and (max-width: 745px) {
    .categoria_producto__box {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 585px) {
    .categoria_producto__box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 410px) {
    .categoria_producto__item {
        gap: 16px;
        width: 156px;
    }

    .imagen__producto {
        height: 156px;
    }
}

@media screen and (max-width: 360px) {

    .container__productos {
        padding: 32px 16px;
        gap: 40px;
    }

}

@media screen and (max-width: 320px) {
    .categoria_producto__box {
        column-gap: 8px;
    }

    .categoria_producto__item {
        gap: 8px;
        width: 140px;
    }

    .imagen__producto {
        height: 140px;
    }

    .descripcion__producto__precio, .descripcion__producto__stock {
        font-size: 14px;
        line-height: 14px;
    }

    .descripcion__producto__enlace {
        font-size: 13px;
    }
}